<% if @watches.size > 0 %>
						
		<% if session[:newest_watches] == "yes" %>
	    	<h4 style="text-indent: 9em;">Newest Watches [<%= @watches_for_display %>]</h4>
	    	<% session[:newest_watches] = "no" %>
	    <% else %>
	    	<h4 style="text-indent: 9em;">My Watches [<%= @watches_for_display %>]</h4>
	    <% end %>	

	    <div class="watches">
	      <ul>
	      </ul>
	    </div>

		<%if @watches_for_display && @watches_for_display > 18 %>
	      <div style="margin-left: 90px;">
	      	<%= will_paginate @watches, renderer: BootstrapPagination::Rails %>
	      </div>
	    <% end %>

<%else%>

	<h4 class="text-danger"><b>There are currently no watches to display!</b></h4>

<%end%>
