
<body class="container bg-light">
	
	<% if session[:change_page_size?] %>
		
		<script language="javascript" type="text/javascript">
	     	javascript:window.location='/'
	 	</script>

		<% session[:change_page_size?] = nil %>

	<% else %>

		<%= render "display_all_watches" %>	

	<% end %>
	
</body>