
<!-- <body class="container bg-info">

  <div class="row">
	<%#=binding.pry%> -->
    <!-- <%#= render partial: "display_watches", locals: {watches: @watches, watches_for_display: @watches_for_display} %> -->
  
 <!--  </div>

</body> -->

<h5> Watches index.html.erb! </h5>