
<body class="container bg-light">
	
	<% if session[:page_size_changed?] %>
		<!-- Display watches as if first time -->
		<script language="javascript" type="text/javascript">
	     	javascript:window.location='/'
	 	</script>

		<% session[:page_size_changed?] = false %>

	<% else %>

		<%= render "display_all_watches" %>	

	<% end %>
	
</body>