
<body class="container bg-info">

  	<div class="row"> 

  		<%= render partial: "show_links", locals: {watch: @watch} %> 

    	<div class="col-sm-7"> 

	    	<%= render partial: "show_watch", locals: {watch: @watch} %>

    	</div>
    	
  	</div>

 </body>
