
<body class="container bg-light">

  	<div class="row"> 

  		<div class="show_links">
  			<%= render partial: "show_links", locals: {watch: @watch} %> 
		</div>

    	<div class="col-sm-7"> 

    		<div class="col-sm-12" style="margin-left: 20px;">

				<div class="load_watch">	
				</div>

				<br>
				<div class="complications">
				</div>

			</div>

    	</div>
    	
  	</div>

	<script id="watch-template" type="text/x-handlebars-template">

			<h4>One of my watches ({{id}})</h4>

			<h5><b class="text-success">Name:</b> {{watch_name}} </h5>
			<h5><b class="text-success">Maker:</b> {{watch_maker}} </h5>
			<h5><b class="text-success">Movement:</b> {{movement}} </h5>
			<h5><b class="text-success">Band:</b> {{band}} </h5>
			<h5><b class="text-success">Model Number:</b> {{model_number}} </h5>
			<h5><b class="text-success">Water Resistance:</b> {{water_resistance}} </h5>
			<h5><b class="text-success">Date Bought:</b> {{date_bought}} </h5>

	</script>

 </body>

