<% flash.each do |type, msg| %>
	<% if type == "notice" %>
	  <div class="alert alert-success">
	<% elsif type == "alert" %>
	  <div class="alert alert-danger">
	<% elsif type == "info" %>
	  <div class="alert alert-info">
	<% else %>
	  <div class='alert alert-<%= "#{type}" %>'>
	<% end %>
	<a href="#" class="close" data-dismiss="alert">&#215;</a>
	<ul>
	  <li>
	    <%= msg %>
	  </li>
	</ul>
<% end %>